<section class="whole-page">
<div class="title-text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <h1 class="mat-h1">
    {{ title }}
  </h1>
  <h3 class="mat-h2">
    {{ subtitle }}
  </h3>
</div>

<div class="top-text" fxLayout="column" fxLayoutAlign="center center">
<p>I’d like the memory of me to be a happy one.</p>
<p>I’d like to leave an afterglow of smiles when life is done.</p>
<p>I’d like to leave an echo whispering softly down the ways,</p>
<p>Of happy times and laughing times and bright and sunny days.</p>
</div>

<app-video-player></app-video-player>

<router-outlet></router-outlet>
</section>
