.whole-page {
  padding: 0px;
  margin: 0px;
  background-color: #99ffeb;
  height: 100vh;
}

.title-text {
  height: 15%;
  margin: 0px 0px 40px 0px;
}

.top-text {
  height: 15%;
  margin: 20px 0px 40px 0px;
}

p {
  padding: 0px;
  margin: 4px;
}
