.whole-page {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.text-section {
  margin-bottom: 20px;
}

.title-text {
  margin: 0px 0px 40px 0px;
  padding-top: 20px;
}

.top-text {
  margin: 20px 0px 40px 0px;
}

p {
  padding: 0px;
  margin: 4px;
}
